<!-- Start post list -->
<ul class="catalogue">
    {% for post in paginator.posts %}
    <li class="catalogue-item">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% unless post.draft %}
            <p class="catalogue-type">{{ post.type }}</p>
            {% else %}
            <p class="catalogue-type">Coming Soon</p>
            {% endunless%}
            <div class="catalogue-info transition">
                <h1 class="catalogue-title">{{ post.title }}</h1>
                <p class="catalogue-sub">{{ post.subtitle }}</p>
                {% unless post.draft %}
                <p class="catalogue-body">
                    {{ post.content | truncatewords: 24 | strip_html }}
                </p>
                {% else %}
                <p class="catalogue-body">
                    🙋‍♂️ Coming Soon! I am writing hard now. Be patience!
                </p>
                {% endunless %}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
<!-- End post list -->

<!-- Start pagination -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}

    <span>{{ paginator.page }}</span>
</div>
<!-- End pagination -->