<!-- Start resume -->
<div class="loading-animation">
    <section class="resume">
        <div class="resume-info">
            <p class="second-label">
                <span class="label-emoji">
                    🙋‍♂️
                </span>
                &nbsp; I've worked for
            </p>
        </div>
        <ul>
            {% include experience.html %}
        </ul>
    </section>

    <section class="skill">
        <div class="resume-info">
            <p class="second-label">
                <span class="label-emoji">
                    &#x1F4AA;
                </span>
                &nbsp; Available My Skill & Role
            </p>
        </div>
        <ul>
            {% for skill in site.data.skills %}
            <li class="skill_name">
                {{ skill.name }}
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
<!-- End resume -->