---
layout: default
---

<div class="post">
  <div class="post-info">
    <div class="post-type-tag">
      {% if page.draft == true %}
      <div class="catalogue-tag">
        Coming Soon
      </div>
      {% endif %}
      <div class="post-type">
        {{ page.type }}
      </div>
    </div>
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    <h2 class="post-subtitle">
      {{ page.subtitle }}
    </h2>
  </div>

  {% if page.portfolio == true %}
  <article class="portfolio-info">
    <div>
      <span class="info-title">Role</span>
      <p class="info-medium">{{ page.role-title }}</p>
      <p class="info-small">{{ page.role-specific }}</p>
    </div>
    <div>
      <span class="info-title">Team</span>
      <p class="info-medium">{{ page.team }}</p>
    </div>
    <div>
      <span class="info-title">Platforms</span>
      <p class="info-medium">{{ page.platforms }}</p>
    </div>
    <div>
      <span class="info-title">Date</span>
      <p class="info-medium">{{ page.date }}</p>
    </div>
  </article>
  {% endif %}

  {% if page.draft == true %}
  <div class="catalogue-draft-message">
    <h1>
      🙋‍♂️ Coming Soon!
    </h1>
    I am writing hard now. Be patience!
  </div>
  {% endif %}

  {{ content }}

  {% if page.paperback == true %}
  {% if page.ridibooks == true %}
  {% for paperback-list in site.data[page.data-name] %}
  <a href="https://ridibooks.com/v2/Detail?id={{ paperback-list.bookid }}" target="_blank" class="paperback-link">
    <img class="paperback-cover transition" src="https://misc.ridibooks.com/cover/{{ paperback-list.bookid }}/xxlarge" />
  </a>
  {% endfor %}
  {% endif %}
  {% if page.ridiselect == true %}
  {% for paperback-list in site.data[page.data-name] %}
  <a href="https://select.ridibooks.com/book/{{ paperback-list.bookid }}" target="_blank" class="paperback-link">
    <img class="paperback-cover transition"
      src="https://misc.ridibooks.com/cover/{{ paperback-list.bookid }}/xxlarge?dpi=xxhdpi" />
  </a>
  {% endfor %}
  {% endif %}
  {% endif %}

</div>

{% if page.comments %}
{% include disqus_comments.html %}
{% endif %}